## Q1). Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
#impoerting required libraries
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [190]:
#connecting to a webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [5]:
#site url
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [6]:
soup = BeautifulSoup(driver.page_source,'html.parser')

In [40]:
#now getting whole table source data which is having a class of 'wikitable sortable jquery-tablesorter'

result = soup.find('table',{'class':'wikitable sortable jquery-tablesorter'})

#getting a body of table 
a = result.find('tbody')
a_new = a.text.split("\n")

a_new[:20]

['',
 '',
 '1.',
 '"Baby Shark Dance"[3]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '10.23',
 'June 17, 2016',
 '[B]',
 '',
 '',
 '2.',
 '"Despacito"[6]',
 'Luis Fonsi',
 '7.75',
 'January 12, 2017',
 '[C]',
 '',
 '',
 '3.',
 '"Johny Johny Yes Papa"[12]']

So,we can see that each youtube video contents having first 2 elements as empty strings.

In [42]:
#lets remove those first 2 empty strings from list 

l_ele = ['[A]','[B]','[C]','[D]','[E]','[F]','[G]','[H]','[I]','[J]','[K]','[L]']

#removing the elements which are present in above list as well
a_n = [i  for i in a_new if i not in l_ele and i != '']
a_n[:20]

['1.',
 '"Baby Shark Dance"[3]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '10.23',
 'June 17, 2016',
 '2.',
 '"Despacito"[6]',
 'Luis Fonsi',
 '7.75',
 'January 12, 2017',
 '3.',
 '"Johny Johny Yes Papa"[12]',
 'LooLoo Kids',
 '6.18',
 'October 8, 2016',
 '4.',
 '"Shape of You"[13]',
 'Ed Sheeran',
 '5.62',
 'January 30, 2017']

In [56]:
#now we have all the required details of each youtube video.

rank,Name,Artist,Upload_date,Views = [],[],[],[],[]
for i in range(0,len(a_n),5):
    rank.append(a_n[i])
    Name.append((a_n[i+1].split("["))[0])
    Artist.append(a_n[i+2])
    Upload_date.append(a_n[i+4])
    Views.append(a_n[i+3])

## creating the dataframe for Top 30 most-viewed YouTube videos.

In [57]:
df = pd.DataFrame({"Rank":rank,"Video name":Name,"Artist":Artist,"Upload date":Upload_date,"Views(billions)":Views})
df

,Rank,Video name,Artist,Upload date,Views(billions)
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.23
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.75
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.18
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.62
4,5.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.42
5,6.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.01
6,7.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.56
7,8.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.48
8,9.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.48
9,10.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.47
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.35
11,12.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",3.86
12,13.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",3.70
13,14.,"""Sugar""",Maroon 5,"January 14, 2015",3.65
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.53
15,16.,"""Sorry""",Justin Bieber,"October 22, 2015",3.51
16,17.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.51
17,18.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.41
18,19.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.24
19,20.,"""Axel F""",Crazy Frog,"June 16, 2009",3.24
20,21.,"""Faded""",Alan Walker,"December 3, 2015",3.23
21,22.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.23
22,23.,"""Let Her Go""",Passenger,"July 25, 2012",3.18
23,24.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.17
24,25.,"""Lean On""",Major Lazer,"March 22, 2015",3.17
25,26.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.15
26,27.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.14
27,28.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.10
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.06
29,30.,"""Mi Gente""",J Balvin,"June 29, 2017",3.04

## Creating the csv file

In [58]:
df.to_csv('top_30_youtube_videos.csv')

# ------------------------------------------------------------------------------------------------------------

## Q2) Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1
st ODI)

B) Series

C) Place

D) Date

E) Time

In [59]:
#site url
url = 'https://www.bcci.tv/'
driver.get(url)

In [60]:
#searching an web element for International option using xpath
International_fix = driver.find_element_by_xpath('/html/body/div[14]/div/div[1]/div[2]/ul[1]/li[2]/a')

International_fix.click()

In [67]:
#more fixtures option

more_fixtures = True
while more_fixtures:
    try:
        more_fix = driver.find_element_by_xpath('/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
        more_fix.click()
    except:
        more_fixtures = False

In [89]:
#to get date
date_d = driver.find_elements_by_xpath('//h5[@class="ng-binding"]')
date_d = [i.text for i in date_d]

#to get time info
time_d = driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]')
time_d = [i.text for i in time_d]

#to get series info
series_d = driver.find_elements_by_xpath('//span[@class="ng-binding"]')
series_d = [i.text for i in series_d]

#to get match title
title_place_ = driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')
#filling out missing values with '-'
Match_title = [(i.text.split("-"))[0] if '-' in i.text else '-' for i in title_place_ ]

#to get place info
place_d = driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]')
place_d = [i.text for i in place_d]

## creating the Dataframe

In [90]:
df = pd.DataFrame({"Match title":Match_title,"Series":series_d,"Place":place_d,"Date":date_d,"Time":time_d})
df

,Match title,Series,Place,Date,Time
0,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium,",26 FEB 2022,7:00 PM IST
1,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium,",27 FEB 2022,7:00 PM IST
2,1st Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,",4 MAR 2022,9:30 AM IST
3,-,ICC WOMENS WORLD CUP 2022,"Bay Oval,",6 MAR 2022,6:30 AM IST
4,-,ICC WOMENS WORLD CUP 2022,"Seddon Park,",10 MAR 2022,6:30 AM IST
5,2nd Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"M Chinnaswamy Stadium,",12 MAR 2022,12:30 PM IST
6,-,ICC WOMENS WORLD CUP 2022,"Seddon Park,",12 MAR 2022,6:30 AM IST
7,-,ICC WOMENS WORLD CUP 2022,"Bay Oval,",16 MAR 2022,6:30 AM IST
8,-,ICC WOMENS WORLD CUP 2022,"Eden Park,",19 MAR 2022,6:30 AM IST
9,-,ICC WOMENS WORLD CUP 2022,"Seddon Park,",22 MAR 2022,6:30 AM IST
10,-,ICC WOMENS WORLD CUP 2022,"Hagley Oval,",28 MAR 2022,6:30 AM IST
11,1st T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"MA Chidambaram Stadium,",9 JUN 2022,7:30 PM IST
12,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",12 JUN 2022,7:30 PM IST
13,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium,",14 JUN 2022,7:30 PM IST
14,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:30 PM IST
15,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",19 JUN 2022,7:30 PM IST

## creating the csv file

In [91]:
df.to_csv("BCCI_International_Fixtures")

# ------------------------------------------------------------------------------------------------------------

## Q3) Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

In [4]:
#site url
url = 'https://www.guru99.com/'
driver.get(url)

In [5]:
#selecting selenium option under testing section

selenium_op = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')

selenium_op.click()

In [7]:
#selecting tutorial of Selenium Exception Handling (Common Exceptions List)

exception_handling = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')

exception_handling.click()

In [8]:
soup = BeautifulSoup(driver.page_source,'html.parser')

In [21]:
#gettng the source data of table
result = soup.find('table',{'class':'table table-striped'})

new_res = result.find_all('td')
new_res = [i.text for i in new_res]

#for getting an exception name
exc_name = [new_res[i]  for i in range(len(new_res)) if i % 2 == 0]

#for getting a description 
desc = [new_res[i] for i in range(len(new_res)) if i % 2 != 0  ]

## creating the Dataframe

In [22]:
df = pd.DataFrame({"Exception name":exc_name,"Description":desc})
df

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

## creating the csv file

In [23]:
df.to_csv("Common Exceptions in Selenium Web driver")

# --------------------------------------------------------------------------------------------------------------

## Q4)Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP

D) GSDP

E) Share

F) GDP($ billion)

In [28]:
#site url
url = 'http://statisticstimes.com/'
driver.get(url)

In [32]:
#getting the web element for economy drop down option

economy_op = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')

economy_op.click()

In [33]:
#now choosing the India as option

India_op = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')

India_op.click()

In [34]:
#selecting the option of GDP of Indian states option

GDP_states = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')

GDP_states.click()

In [35]:
soup = BeautifulSoup(driver.page_source,'html.parser')

In [62]:
#getting the source data of table

result = soup.find('table',{'id':'table_id'})

#getting the all the information of GDP for each states
result_n = result.find_all('tr',{'role':'row'})
result_n = [(i.text.split("\n"))[1:] for i in result_n][2:]

#for State name
result_name = result.find_all('td',{'class':'name'})
state_name = [i.text for i in result_name][:-1]

#for rank info
result_rank = result.find_all('td',{'class':'data1'})
rank = [i.text for i in result_rank][:-1]

#for Share info
share = []
try:
    for i in result_n:
        share.append(i[2])
except:
    share.append('-')

#for GDP($ billion)
GDP = []
try:
    for i in result_n:
        GDP.append(i[3])
except:
    GDP.append('-')

#for GSDP (Cr INR at Current prices)
GSDP_19_20,GSDP_18_19 = [],[]

try:
    for i in result_n:
        GSDP_19_20.append(i[0])
except:
    GSDP_19_20.append('-')
try:
    for i in result_n:
        GSDP_18_19.append(i[1])
except:
    GSDP_18_19.append('-')

#for GSDP (Cr INR at 2011-12 prices)
GSDP1_19_20,GSDP1_18_19 = [],[]

try:
    for i in result_n:
        GSDP1_19_20.append(i[4])
except:
    GSDP1_19_20.append('-')
try:
    for i in result_n:
        GSDP1_18_19.append(i[5])
except:
    GSDP1_18_19.append('-')

## creating the Dataframe

In [63]:
df = pd.DataFrame({"Rank":rank,"State":state_name,"GSDP_current_18_19":GSDP_18_19,"GSDP_current_19_20":GSDP_19_20,
                   "GSDP(at_2011)_19_20":GSDP1_19_20,"GSDP(at_2011)_18_19":GSDP1_18_19,"Share":share,
                   "GDP($ billion)":GDP})
df

,Rank,State,GSDP_current_18_19,GSDP_current_19_20,GSDP(at_2011)_19_20,GSDP(at_2011)_18_19,Share,GDP($ billion)
0,1,Maharashtra,"2,632,792",-,-,"2,039,074",13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853","1,312,929","1,215,307",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818","1,166,817","1,123,982",8.39%,240.726
3,4,Gujarat,"1,502,899",-,-,"1,186,379",7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977","1,156,039","1,091,077",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832","793,223","739,525",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989","711,627","677,428",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782","672,018","621,301",4.57%,131.083
8,9,Telangana,"861,031","969,604","663,258","612,828",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672","561,801","522,009",4.29%,122.977
10,11,Kerala,"781,653",-,-,"559,412",4.14%,118.733
11,12,Delhi,"774,870","856,112","634,408","590,569",4.10%,117.703
12,13,Haryana,"734,163","831,610","572,240","531,085",3.89%,111.519
13,14,Bihar,"530,363","611,804","414,977","375,651",2.81%,80.562
14,15,Punjab,"526,376","574,760","418,868","397,669",2.79%,79.957
15,16,Odisha,"487,805","521,275","396,499","376,877",2.58%,74.098
16,17,Assam,"315,881",-,-,"234,048",1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180","243,477","231,182",1.61%,46.187
18,19,Jharkhand,"297,204","328,598","240,036","224,986",1.57%,45.145
19,20,Uttarakhand,"245,895",-,-,"193,273",1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,-,"112,755",0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472","124,403","117,851",0.81%,23.369
22,23,Goa,"73,170","80,449","63,408","57,787",0.39%,11.115
23,24,Tripura,"49,845","55,984","40,583","36,963",0.26%,7.571
24,25,Chandigarh,"42,114",-,-,"31,192",0.22%,6.397
25,26,Puducherry,"34,433","38,253","25,093","23,013",0.18%,5.230
26,27,Meghalaya,"33,481","36,572","26,695","24,682",0.18%,5.086
27,28,Sikkim,"28,723","32,496","20,017","18,722",0.15%,4.363
28,29,Manipur,"27,870","31,790","20,673","19,300",0.15%,4.233
29,30,Nagaland,"27,283",-,-,"17,647",0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,-,"16,676",0.13%,3.737
31,32,Mizoram,"22,287","26,503","18,797","16,478",0.12%,3.385
32,33,Andaman & Nicobar Islands,---,---,-,-,-,-

## creating the csv file

In [64]:
df.to_csv("GDP_of_Indian_states")

# -------------------------------------------------------------------------------------------------------------

## Q5)Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [67]:
#site url
url = 'https://github.com/'
driver.get(url)

In [69]:
#getting the web element for explore option drop down

exp_drop_down = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')

exp_drop_down.click()

In [70]:
#getting the web element for explore github option

explore_github = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[1]/a')

explore_github.click()

In [71]:
#searching with trending option
trending = driver.find_element_by_xpath('/html/body/div[4]/main/div[1]/nav/div/a[3]')

trending.click()

In [72]:
soup = BeautifulSoup(driver.page_source,'html.parser')

In [121]:
result = soup.find_all('article',{'class':'Box-row'})

#for repository title
rep_title = []
for i in range(len(result)):
    a_new = result[i].find('h1',{'class':'h3 lh-condensed'})
    rep_title.append((a_new.text.strip().split("/"))[1].strip(" \n"))

#for repository description
rep_desc = []
for i in range(len(result)):
    try:
        a_new = result[i].find('p',{'class':'col-9 color-fg-muted my-1 pr-4'})
        rep_desc.append(a_new.text.strip())
    except:
        rep_desc.append('-')
        
#for languages used
langs_used = []
for i in range(len(result)):
    try:
        a_new = result[i].find('span',{'itemprop':'programmingLanguage'})
        langs_used.append(a_new.text.strip())
    except:
        langs_used.append("-")

#for contributors count
contri_counts = []
for i in range(len(result)):
    a_new = result[i].find('span',{'class':'d-inline-block mr-3'})
    a_n = a_new.find_all('a',{'class':'d-inline-block'})
    contri_counts.append(len(a_n))

## creating the Dataframe

In [122]:
df = pd.DataFrame({"Repository title":rep_title,"Repository description":rep_desc,"Contributors count":contri_counts,
                   "Language used":langs_used})
df

,Repository title,Repository description,Contributors count,Language used
0,JD-SHOPPER,"京东自动下单 (自动登录,指定时间预约商品,商品补货监控,自动加购物车,自动下单)",2,Python
1,advisory-database,Security vulnerability database inclusive of C...,3,-
2,netdata,"Real-time performance monitoring, done right! ...",5,C
3,JoltPhysics,A multi core friendly rigid body physics and c...,3,C++
4,kr_autonomous_flight,Autonomous flight system for aerial robots,5,C++
5,hacker-laws-zh,"💻📖对开发人员有用的定律、理论、原则和模式。(Laws, Theories, Princip...",5,-
6,awesome-tunneling,List of ngrok alternatives and other ngrok-lik...,5,-
7,fucking-algorithm,刷算法全靠套路，认准 labuladong 就够了！English version supp...,5,Markdown
8,autocomplete,Fig adds autocomplete to your terminal.,5,TypeScript
9,openpilot,openpilot is an open source driver assistance ...,5,Python
10,beam,A simple message board for your organization o...,5,TypeScript
11,Hitomi-Downloader,🍰 Desktop utility to download images/videos/mu...,5,Python
12,Voron-2,Voron 2 CoreXY 3D Printer design,5,-
13,ant-design-vue,🌈 An enterprise-class UI components based on A...,5,Vue
14,Geographical-Adventures,-,1,C#
15,fastapi,"FastAPI framework, high performance, easy to l...",5,Python
16,dooringx,快速高效搭建可视化拖拽平台,5,TypeScript
17,folly,An open-source C++ library developed and used ...,5,C++
18,yao,Yao A low code engine to create web services a...,2,Go
19,graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",5,Haskell
20,preserve-cd,Game Preservation Project,2,-
21,plasticity,-,3,TypeScript
22,advanced-java,😮 Core Interview Questions & Answers For Exper...,5,Java
23,Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,5,-
24,leetcode-master,《代码随想录》LeetCode 刷题攻略：200道经典题目刷题顺序，共60w字的详细图解，视...,5,-

## creating the csv file

In [123]:
df.to_csv("Trending Github topics")

# ---------------------------------------------------------------------------------------------------------------

## Q6)Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

In [3]:
#site url
url = 'https://www.billboard.com/'
driver.get(url)

In [4]:
#clicking on 'Charts' option
charts = driver.find_element_by_xpath('/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')

charts.click()

In [5]:
#clicking on 'Hot 100' option
H_100 = driver.find_element_by_xpath('/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a')

H_100.click()

In [6]:
#getting the source content of web page
soup = BeautifulSoup(driver.page_source,'html.parser')

In [70]:
result = soup.find_all('ul',{'class':'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max'})

result = [i.text.strip().split("\n") for i in result]


#for song name
song = [i[0] for i in result]

#for artist name
artist = [i[3] for i in result]

#for Last week rank and Weeks on board
result_last = soup.find_all('li',{'class':'o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max'})

l_week_rank = [i.text.strip() for i in result_last[:-1:2]]

weeks_on_b = [i.text.strip() for i in result_last[1::2]]

#for Peak rank
result_peak_rank = soup.find_all('li',{'o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max'})
peak_rank = [i.text.strip() for i in result_peak_rank[1::2]]

## creating the Dataframe

In [71]:
df = pd.DataFrame({"Song name":song,"Artist name":artist,"Last week Rank":l_week_rank,
                   "Peak Rank":peak_rank,'Weeks on Board':weeks_on_b})
df

,Song name,Artist name,Last week Rank,Peak Rank,Weeks on Board
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,8
1,Heat Waves,Glass Animals,4,2,57
2,Easy On Me,Adele,3,1,19
3,abcdefu,GAYLE,7,4,13
4,Stay,The Kid LAROI & Justin Bieber,5,1,32
...,...,...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,84,1,14
96,Come Back As A Country Boy,Blake Shelton,89,85,5
97,Iffy,Chris Brown,96,71,5
98,Home Sweet,Russell Dickerson,94,88,5
99,Too Easy,Gunna & Future,92,16,16

## Creating the csv file

In [72]:
df.to_csv("Billboard top 100 songs")

# -------------------------------------------------------------------------------------------------

## Q8)Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [73]:
#site url
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [74]:
#getting the source content of web page
soup = BeautifulSoup(driver.page_source,'html.parser')

In [95]:
result = soup.find_all('tbody')

result = [i.text.strip().split("\n") for i in result]

#for book name
b_name = [j for i in result for j in i[1::8]]

#for author name
A_name = [j for i in result for j in i[2::8]]

#for Volume sales
V_sales = [j for i in result for j in i[3::8]]

#for publisher info
p_info = [j for i in result for j in i[4::8]]

#for genre info
Genre = [j for i in result for j in i[5::8]]

## Creating the Dataframe

In [96]:
df = pd.DataFrame({"Book name":b_name,"Artist name":A_name,"Volume sold":V_sales,
                   "Publisher":p_info,'Genre':Genre})
df

,Book name,Artist name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the ...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to ...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Creating the csv file

In [97]:
df.to_csv("best selling books all time fifty shades grey")

# -----------------------------------------------------------------------------------------------------------

## Q9)Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [98]:
#site url
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [99]:
#getting the source content of web page
soup = BeautifulSoup(driver.page_source,'html.parser')

In [117]:
result = soup.find_all('div',{'class':'lister-item-content'})

#for tv series name
series_name = []
for i in result:
    result_h = i.find('a')
    series_name.append(result_h.text)

#for year span
year_span = []
for i in result:
    result_h = i.find('span',{'class':'lister-item-index unbold text-primary'})
    year_span.append(result_h.text.strip())

#for genre info
Genre = []
for i in result:
    result_h = i.find('span',{'class':'genre'})
    Genre.append(result_h.text.strip())

#for runtime info
run_time = []
for i in result:
    result_h = i.find('span',{'class':'runtime'})
    run_time.append(result_h.text.strip())

#for Ratings
ratings = []
for i in result:
    result_h = i.find('div',{'class':'ipl-rating-star small'})
    ratings.append(result_h.text.strip())

#for Votes info
votes = []
for i in result:
    result_h = i.find('span',{'name':'nv'})
    votes.append(result_h.text.strip())

## Creating the Dataframe

In [118]:
df = pd.DataFrame({"Name":series_name,"Year span":year_span,"Genre":Genre,
                   "Runtime":run_time,'Ratings':ratings,"Votes":votes})
df

,Name,Year span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,1.,"Action, Adventure, Drama",57 min,9.2,"1,956,983"
1,Stranger Things,2.,"Drama, Fantasy, Horror",51 min,8.7,"966,681"
2,The Walking Dead,3.,"Drama, Horror, Thriller",44 min,8.1,"932,184"
3,13 Reasons Why,4.,"Drama, Mystery, Thriller",60 min,7.5,"279,090"
4,The 100,5.,"Drama, Mystery, Sci-Fi",43 min,7.6,"239,270"
...,...,...,...,...,...,...
95,Reign,96.,"Drama, Fantasy",42 min,7.5,"47,813"
96,A Series of Unfortunate Events,97.,"Adventure, Comedy, Drama",50 min,7.8,"58,534"
97,Criminal Minds,98.,"Crime, Drama, Mystery",42 min,8.1,"185,818"
98,Scream: The TV Series,99.,"Comedy, Crime, Drama",45 min,7.1,"39,342"
99,The Haunting of Hill House,100.,"Drama, Horror, Mystery",572 min,8.6,"222,123"

## Creating the csv file

In [119]:
df.to_csv("Top 100 most watched tv shows of all time")

# -----------------------------------------------------------------------------------------------------

## Q10). Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

In [120]:
#site url
url = 'https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

In [121]:
#clicking on 'view all datasets' option
view_all_datasets = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')

view_all_datasets.click()

In [122]:
#getting the source content of web page
soup = BeautifulSoup(driver.page_source,'html.parser')

In [180]:
result = soup.find_all('tr')
result = [i.text.strip().replace("\xa0",' ').split("\n") for i in result[19:-1:2]] 

#for dataset name
d_name = [i[0] for i in result]

#for datatype

datatype = []
for i in result:
    try:
        if i[2] == ' ':
            datatype.append('-')           #filling up empty strings with '-'
        else:
            datatype.append(i[2])
    except:
        datatype.append("-")
        
#for task
task = []
for i in result:
    try:
        if i[3] == ' ':
            task.append('-')           #filling up empty strings with '-'
        else:
            task.append(i[3])
    except:
        task.append("-")

#for attribute types
attribute_types = []
for i in result:
    try:
        if i[4] == ' ':
            attribute_types.append('-')           #filling up empty strings with '-'
        else:
            attribute_types.append(i[4])
    except:
        attribute_types.append("-")

#for No. of instances
No_of_instances = []
for i in result:
    try:
        if i[5] == ' ':
            No_of_instances.append('-')           #filling up empty strings with '-'
        else:
            No_of_instances.append(i[5])
    except:
        No_of_instances.append("-")

#for no.of attributes
No_of_attributes = []
for i in result:
    try:
        if i[6] == ' ':
            No_of_attributes.append('-')           #filling up empty strings with '-'
        else:
            No_of_attributes.append(i[6])
    except:
        No_of_attributes.append("-")

#for year info
year = []
for i in result:
    try:
        if i[7] == ' ':
            year.append('-')           #filling up empty strings with '-'
        else:
            year.append(i[7])
    except:
        year.append("-")

## Creating the Dataframe

In [181]:
df = pd.DataFrame({"Dataset Name":d_name,"Data types":datatype,"Default task":task,
                   "Attribute types":attribute_types,'No. of Instances':No_of_instances,
                   "No. of Attributes":No_of_attributes,"Year":year})
df

,Dataset Name,Data types,Default task,Attribute types,No. of Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,-,Classification,-,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

## Creating the csv file

In [182]:
df.to_csv("Details of ML datasets")

## --------------------------------------------------------------------------------------------------------------------------------

## Q7)Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

In [193]:
#site url
url = 'https://www.naukri.com/'
driver.get(url)

In [194]:
#get to the recruiters option

get_to = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/ul/li[1]/a/div')
get_to.click()

In [202]:
#to switch to newly opened tab

driver.switch_to.window(driver.window_handles[1])

In [203]:
#clicking on recruiters option

recruiters_op = driver.find_element_by_xpath('/html/body/div[1]/div/ul/li[2]/a')
recruiters_op.click()

In [204]:
#again switchng it to newly opened tab 

driver.switch_to.window(driver.window_handles[2])

In [205]:
#now to get web element of search bar

search = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.click()

In [207]:
#to enter as 'Data science' in search bar
search.send_keys('Data science')

In [208]:
#now searching for entered input

to_search = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
to_search.click()

In [209]:
#getting the source content of web page
soup = BeautifulSoup(driver.page_source,'html.parser')

In [232]:
#scrapping name of recruiters only from first page(for first 50 results)
name = soup.find_all('span',{'class':'fl ellipsis'})
name = [i.text for i in name]

#for Designation
desig = soup.find_all('span',{'class':'ellipsis clr'})
desig = [i.text for i in desig]

#for company name
company = soup.find_all('a',{'class':'ellipsis'})
company = [i.text for i in company[1::2]]

#for skills
skills = soup.find_all('span',{'class':'ellipsis clr'})
skills = [i.text for i in skills]

#for location
location = soup.find_all('div',{'class':'hireSec highlightable'})
location = [i.text for i in location]

## Creating the Dataframe

In [233]:
df = pd.DataFrame({"Name":name,"Designation":desig,"Company":company,"Skills required":skills,"Location":location})
df

,Name,Designation,Company,Skills required,Location
0,Aakash Harit,HR Manager,Data Science Network,HR Manager,"Classic ASP Developer, Internet Marketin..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Company Recruiter,".Net, Java, Data Science, Linux Admi..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, ..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,"Mean Stack, javascript, angularjs, m..."
4,subhas patel,Founder CEO,LibraryXProject,Founder CEO,"Hadoop, Spark, Digital Strategy, Dat..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Recruitment Lead Consultant,"Analytics, Business Intelligence, Busi..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Programme Manager,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,HR Administrator,"Machine Learning, algorithms, Go Gette..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Director,"Technical Training, Software Development..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Human Resource,"Software Development, It Sales, Accoun..."
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,HR Manager,"Oracle Dba, Data Science, Data Warehou..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Arch..."
12,Mubarak,Company HR,MoneyTap,Company HR,"Business Intelligence, Data Warehousing,..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Company HR,"Office Administration, Hr Administration..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,HR Team Lead,"Social Media, digital media maketing, ..."
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Assistant Manager HR,"React.js, Data Science, Java, Front ..."
16,Kapil Devang,HR Manager,BISP Solutions,HR Manager,"Big Data, Hadoop, Data Analytics, Da..."
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure,..."
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,HR Recruiter,"Big Data, Data Science, Artificial Int..."
19,Manisha Yadav,HR Executive,Easi Tax,HR Executive,"Telecalling, Client Interaction, Marke..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Manager Talent Acquisition,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,HR Head,"Corporate Sales, Software Development, ..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,HR MANAGER,"Data Analytics, Data Science, Machine ..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,HR Recruiter,"Data Science, Machine Learning, Python..."
24,Shaun Rao,Manager Human Resources,Exela Technologies,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastr..."
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Company Recruiter,"Data Science, Artificial Intelligence, ..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Lead Talent acquisition,"Software Architecture, Vp Engineering, ..."
27,kumar,Proprietor,trainin,Proprietor,"Data Science, Hadoop, Rpas, Devops, ..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,CEO,"Signal Processing, Machine Learning, N..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Founder CEO,"Web Technologies, Project Management, ..."
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, ..."
31,Avodha,Business Development Associate,Nikitha Palaparthi,Business Development Associate,"Ethical Hacking, Security Operations Cen..."
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Project Manager,"Data Analytics, Managed Services, Team..."
33,Priya Khare,Senior Manager,Independent Consultant,Senior Manager,"Data Science, Artificial Intelligence, ..."
34,Amit Sharma,Consultant,ASCO consulting,Consultant,"Machine Learning, Artificial Intelligenc..."
35,Kanan,senior technology instructor,NY INST,senior technology instructor,"C, C++, Artificial Intelligence, Pyt..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, ..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Manager, Technical Recruiting","Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Technical Recruiter,"Data Science, Big Data Analytics, Digi..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Erp Implementer,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,Head Analytics,"B.Tech, Tableau, Statistics, R, An..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Chief Technical Officer,"Software Development, Business Intellige..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Sr Product Manager,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,Director Global Delivery,"Data Science, Media Marketing, Resourc..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Co Founder,"Data Analysis, Learning, Data Science,..."
45,Rajani Nagaraj,HR Manager,WildJasmine,HR Manager,"Java, Hadoop, R, Machine Learning, ..."
46,ROHIT Kumar,Architect,LNT Private Limited,Architect,"Software Development, Core Java, Unit ..."
47,Amir Chowdhury,Managing Partner,Granular.ai,Managing Partner,"Machine Learning, Data Science, Produc..."
48,Radha Manivasagam,HR Executive,Techcovery,HR Executive,"Python, Artificial Intelligence, Machi..."
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Recruitment Consultant,"Data Science, Machine Learning, Big Da..."

## Creating the csv file

In [234]:
df.to_csv("Data science recruiters")

# ----------------------------------------------------------------------------------------------------------