## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location and have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [146]:
#impoerting required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [225]:
#connecting to a webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [149]:
#site url
url = 'https://www.naukri.com/'
driver.get(url)

In [150]:
#searching an web element for job search bar using id
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [151]:
#now writing requied name on the search bar
search_job.send_keys("Data Analyst")

In [152]:
#searching an web element for location search bar using absolute xpath
search_location = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")
search_location

In [153]:
#writing "Bangalore" in location bar search
search_location.send_keys("Bangalore")

In [154]:
#now for search button,we can get a web element for that using an absolute xpath
search_button = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")

In [155]:
search_button.click()

## Scrapping of Data

### a)extracting the job title

In [156]:
#extracting the web elements which consists of job titles.

titles_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

#extracting first 10 titles
titles_tag = titles_tag[:10]

In [157]:
#now extracting a text from those web elements

job_title = [i.text for i in titles_tag]
job_title

['Lead - Data Analyst / Scientist',
 'Senior Data Analyst',
 'Data Analyst',
 'BUSINESS ANALYST -DATA SCIENCE-CONSUMER',
 'Data Analyst',
 'Senior Data Analyst - Supporting Audits',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst']

### b)extracting the job loation

In [158]:
#extracting the web elements which consists of job loaction.

loc_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

#extracting first 10 titles
loc_tag = loc_tag[:10]

In [159]:
#now extracting a text from those web elements

job_loc = [i.text for i in loc_tag]
job_loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

### c)extracting the company name

In [160]:
#extracting the web elements which consists of company name

comp_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

#extracting first 10 company name
comp_tag = comp_tag[:10]

In [162]:
company_name = [i.text for i in comp_tag]
company_name

['Axim Technologies',
 'Schneider Electric',
 'Snaphunt',
 'BRIDGEi2i Analytics Solutions Private Limited',
 'Jeeva Organic',
 'Visa',
 'Flipkart',
 'Glance',
 'Glance IT Solution',
 'Novel Office']

### d)extracting the exp required

In [163]:
#extracting the web elements which consists of experience required

exp_req = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

#extracting first 10 
exp_req = exp_req[:10]

In [164]:
exp_requied = [i.text for i in exp_req]
exp_requied

['12-14 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '1-2 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '0-3 Yrs']

### Making of a Dataframe

In [165]:
df = pd.DataFrame({"Job-title":job_title,"Job-location":job_loc,"Company-name":company_name,"Experience-required":exp_requied})
df

,Job-title,Job-location,Company-name,Experience-required
0,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Schneider Electric,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru,Snaphunt,0-2 Yrs
3,BUSINESS ANALYST -DATA SCIENCE-CONSUMER,Bangalore/Bengaluru,BRIDGEi2i Analytics Solutions Private Limited,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jeeva Organic,3-8 Yrs
5,Senior Data Analyst - Supporting Audits,Bangalore/Bengaluru,Visa,5-8 Yrs
6,Data Analyst,Bengaluru/Bangalore,Flipkart,1-2 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Glance,1-6 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Glance IT Solution,1-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs

# -----------------------------------------------------------------------------------------------------------

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location and have to scrape the job-title, job-location, company_name for first 10 jobs data.

In [166]:
#site url

url = 'https://www.naukri.com/'
driver.get(url)

#searching an web element for job search bar using id
search_job = driver.find_element_by_id('qsb-keyword-sugg')

#now writing requied name on the search bar
search_job.send_keys("Data Scientist")

#searching an web element for location search bar using absolute xpath
search_location = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")

#writing "Bangalore" in location bar search
search_location.send_keys("Bangalore")

#now for search button,we can get a web element for that using an absolute xpath
search_button = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")

search_button.click()

## Scrapping of Data

In [167]:
# a)extracting the job title

#extracting the web elements which consists of job titles.
titles_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

#extracting first 10 titles
titles_tag = titles_tag[:10]

#now extracting a text from those web elements
job_title = [i.text for i in titles_tag]

# b)extracting the job_location

#extracting the web elements which consists of job loaction.
loc_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

#extracting first 10 titles
loc_tag = loc_tag[:10]

job_loc = [i.text for i in loc_tag]

# c)extracting the company name

#extracting the web elements which consists of company name
comp_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

#extracting first 10 company name
comp_tag = comp_tag[:10]

company_name = [i.text for i in comp_tag]

### Making of a Dataframe

In [168]:
df = pd.DataFrame({"Job-title":job_title,"Job-location":job_loc,"Company-name":company_name})
df

,Job-title,Job-location,Company-name
0,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
1,Global Tax Automation & Operations | Data Scie...,Bangalore/Bengaluru,Dell
2,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics
3,Lead Data Scientist - Prescriptive Analytics/P...,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
4,Lead Data Scientist - NLP/OpenCV,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
5,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies
6,Job opening with Wipro For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Wipro
7,Spark ML Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Wipro
8,Spark ML Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Wipro
9,Senior Data Scientist - Logistics,Bangalore/Bengaluru,Gojek Tech

# --------------------------------------------------------------------------------------------------------------

## Q3) In this question have to scrape data using the filters available on the webpage
#### =>have to use the location and salary filter.
#### =>have to scrape data for “Data Scientist” designation for first 10 job results.
#### =>have to scrape the job-title, job-location, company name, experience required.
#### =>The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [173]:
#site url

url = 'https://www.naukri.com/'
driver.get(url)

#searching an web element for job search bar using id
search_job = driver.find_element_by_id('qsb-keyword-sugg')

#now writing requied name on the search bar
search_job.send_keys("Data Scientist")

#now for search button,we can get a web element for that using an absolute xpath
search_button = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")

search_button.click()

### Using filters by selecting a check boxes and using a absolute xpath to get web elements

In [174]:
#selecting 3-6 lakhs range salary
sal_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
sal_check.click()

In [175]:
#selecting delhi as a location
loc_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i")
loc_check.click()

## Scrapping of Data

In [176]:
# a)extracting the job title

#extracting the web elements which consists of job titles.
titles_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

#extracting first 10 titles
titles_tag = titles_tag[:10]

#now extracting a text from those web elements
job_title = [i.text for i in titles_tag]

# b)extracting the job_location

#extracting the web elements which consists of job loaction.
loc_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

#extracting first 10 titles
loc_tag = loc_tag[:10]

job_loc = [i.text for i in loc_tag]

# c)extracting the company name

#extracting the web elements which consists of company name
comp_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

#extracting first 10 company name
comp_tag = comp_tag[:10]

company_name = [i.text for i in comp_tag]

# d)extracting the exp required

#extracting the web elements which consists of experience required
exp_req = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

#extracting first 10 
exp_req = exp_req[:10]

exp_requied = [i.text for i in exp_req]

### Making of a Dataframe

In [177]:
df = pd.DataFrame({"Job-title":job_title,"Job-location":job_loc,"Company-name":company_name,"Experience-required":exp_requied})
df

,Job-title,Job-location,Company-name,Experience-required
0,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
1,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
2,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
3,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
4,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
5,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
6,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
7,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
8,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
9,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs

# -----------------------------------------------------------------------------------------------------------

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com and have to scrape four     attributes:1)Brand 2)Product description 3)price and 4)discount

In [381]:
#site url

url = 'https://www.flipkart.com/'
driver.get(url)

In [382]:
#searching an web element for search bar using absolute xpath
search_sunglass = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')

#now writing requied name on the search bar
search_sunglass.send_keys("sunglasses")

In [383]:
#now for search button,we can get a web element for that using an absolute xpath
search_button = driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")

search_button.click()

## Scrapping of Data

In [384]:
Brand_name,product_desc,Price,Discount = [],[],[],[]

#for first page
# a)extracting the Brand name

#extracting the web elements which consists of Brand name.
titles_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

Brand_name_1 = [i.text for i in titles_tag]
   
Brand_name += Brand_name_1
    
# b)extracting the Product description

#extracting the web elements which consists of description.
prod_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    
product_desc_1 = [i.text for i in prod_desc]

product_desc += product_desc_1

# c)extracting the Price

#extracting the web elements which consists of price.
price_info = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    
Price_1 = [i.text for i in price_info]
Price += Price_1

# d)extracting the Discount

#extracting the web elements which consists of discount.
disc_info = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
Discount_1 = [i.text for i in disc_info]

Discount += Discount_1

next_button = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

### for second page

In [385]:
#extracting the web elements which consists of Brand name.
titles_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

Brand_name_1 = [i.text for i in titles_tag]
   
Brand_name += Brand_name_1
    
# b)extracting the Product description

#extracting the web elements which consists of description.
prod_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    
product_desc_1 = [i.text for i in prod_desc]

product_desc += product_desc_1

# c)extracting the Price

#extracting the web elements which consists of price.
price_info = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    
Price_1 = [i.text for i in price_info]
Price += Price_1

# d)extracting the Discount

#extracting the web elements which consists of discount.
disc_info = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
Discount_1 = [i.text for i in disc_info]

Discount += Discount_1

next_button = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_button.click()

### for third page

In [386]:
#extracting the web elements which consists of Brand name.
titles_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

Brand_name_1 = [i.text for i in titles_tag]
   
Brand_name += Brand_name_1
    
# b)extracting the Product description

#extracting the web elements which consists of description.
prod_desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    
product_desc_1 = [i.text for i in prod_desc]

product_desc += product_desc_1

# c)extracting the Price

#extracting the web elements which consists of price.
price_info = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    
Price_1 = [i.text for i in price_info]
Price += Price_1

# d)extracting the Discount

#extracting the web elements which consists of discount.
disc_info = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
Discount_1 = [i.text for i in disc_info]

Discount += Discount_1

### Making of a Dataframe

In [387]:
df = pd.DataFrame({"Brand":Brand_name[:100],"Product-Description":product_desc[:100],"Price":Price[:100],"Discount ":Discount[:100] })
df

,Brand,Product-Description,Price,Discount
0,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹269,82% off
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹599,80% off
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
3,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
4,kingsunglasses,UV Protection Round Sunglasses (54),₹188,81% off
...,...,...,...,...
95,AISLIN,"Mirrored, UV Protection Round Sunglasses (Free...",₹459,69% off
96,ROZZETTA CRAFT,UV Protection Round Sunglasses (50),₹360,75% off
97,Rich Club,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹355,64% off
98,kingsunglasses,"UV Protection, Gradient Retro Square Sunglasse...",₹235,87% off
99,ROZZETTA CRAFT,UV Protection Round Sunglasses (50),₹349,82% off

# -----------------------------------------------------------------------------------------------------------

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
### have to scrape for
### 1. Rating
### 2. Review summary
### 3. Full review

### since provided link is no more exist,so i will be using 
"https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&q=iphone+11+black+64&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=e92bbc94-7172-433a-aa58-bcec822e9910.MOBFKCTSVZAXUHGR.SEARCH&ppt=hp&ppn=homepage&ssid=3czdgbkxeo0000001641622092851&qH=a7bbd4f518dc07fa" 
### this url for scrapping all required data of iphone 11

In [329]:
#site url

url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&q=iphone+11+black+64&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=e92bbc94-7172-433a-aa58-bcec822e9910.MOBFKCTSVZAXUHGR.SEARCH&ppt=hp&ppn=homepage&ssid=3czdgbkxeo0000001641622092851&qH=a7bbd4f518dc07fa'
driver.get(url)

In [330]:
# to click on all reviews option

all_reviews =driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a")
all_reviews.click()

In [331]:
ratings =  driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

len(ratings)

10

### so,there are 10 reviws on each page, in order get first 100 reviews data we need scrape from all 10 pages.

#### for page 1

In [333]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating1 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum = [i.text for i in review_sum_y]

#scrapping the full-review
full_review =[i.text for i in full_reviews]

#to click next button
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
next_button.click()

#### for page 2

In [334]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating2 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum2 = [i.text for i in review_sum_y]

#scrapping the full-review
full_review2 =[i.text for i in full_reviews]

#to click next button
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]')
next_button.click()

#### for page 3

In [335]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating3 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum3 = [i.text for i in review_sum_y]

#scrapping the full-review
full_review3 =[i.text for i in full_reviews]

#to click next button
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]')
next_button.click()

#### for page 4

In [336]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating4 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum4 = [i.text for i in review_sum_y]

#scrapping the full-review
full_review4 =[i.text for i in full_reviews]

#to click next button
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]')
next_button.click()

#### for page 5

In [337]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating5 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum5 = [i.text for i in review_sum_y]

#scrapping the full-review
full_review5 =[i.text for i in full_reviews]

#to click next button
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#### for page 6

In [338]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating6 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum6 = [i.text for i in review_sum_y]

#scrapping the full-review
full_review6 =[i.text for i in full_reviews]

#to click next button
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#### for page 7

In [339]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating7 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum7 = [i.text for i in review_sum_y]

#scrapping the full-review
full_review7 =[i.text for i in full_reviews]

#to click next button
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#### for page 8

In [340]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating8 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum8 = [i.text for i in review_sum_y]

#scrapping the full-review
full_review8 =[i.text for i in full_reviews]

#to click next button
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#### for page 9

In [341]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating9 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum9 = [i.text for i in review_sum_y]

#scrapping the full-review
full_review9 =[i.text for i in full_reviews]

#to click next button
next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#### for page 10

In [343]:
ratings =  driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
review_sum_y = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

#scrapping rating
rating10 = [((i.text).split("\n"))[0] for i in ratings]

#scrapping the reviem summary
review_sum10 = [i.text for i in review_sum_y]

#scrapping the full-review
full_review10 =[i.text for i in full_reviews]

In [344]:
rating = rating1 + rating2 + rating3 + rating4 + rating5 + rating6 + rating7 + rating8 + rating9 +rating10
review_sum = review_sum + review_sum2 + review_sum3 + review_sum4 + review_sum5 + review_sum6 + review_sum7 + review_sum8 + review_sum9 + review_sum10
full_review = full_review + full_review2 + full_review3 + full_review4 + full_review5 + full_review6 + full_review7 + full_review8 +full_review9 +full_review10

In [345]:
len(rating)

100

### making of a dataframe

In [347]:
df = pd.DataFrame({'Rating':rating,'Review_summary':review_sum,'Full-review':full_review})
df

,Rating,Review_summary,Full-review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Must buy!,Camera is excellent just lack of telephoto mod...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Wonderful,Nice value for money good and best price I pho...

# --------------------------------------------------------------------------------------------------------------

## Q6: Scrape data for first 100 sneakers by entering as "sneakers" in search bar of flipkart.com
### have to scrape 4 attributes of each sneaker:
### 1. Brand
### 2. Product Description
### 3. Price
### 4.Discount

In [475]:
#site url

url = 'https://www.flipkart.com/'
driver.get(url)

In [476]:
#searching an web element for search bar using absolute xpath
search_sneakers = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')

#now writing requied name on the search bar
search_sneakers.send_keys("sneakers")

In [477]:
#now for search button,we can get a web element for that using an absolute xpath
search_button = driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")

search_button.click()

## Scrapping of Data

In [478]:
Brand_name,product_desc,Price,Discount = [],[],[],[]

#since each consists of 40 items,so i will scrape 3 web pages data (to get a first 100 items)
        
#for first page
# a)extracting the Brand name

#extracting the web elements which consists of Brand name.
titles_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

Brand_name_1 = [i.text for i in titles_tag]
   
Brand_name += Brand_name_1
    
# b)extracting the Product description and discount

#extracting the web elements which consists of description and discount.
temp = driver.find_elements_by_xpath("//div[@class='_2B099V']")

for i in temp:
    i_1 = ((i.text).split("\n"))[1]
    product_desc.append(i_1)
    i_2 = (((i.text).split("%"))[0])[-2] + (((i.text).split("%"))[0])[-1] + '%' + ' off'
    Discount.append(i_2)

# c)extracting the Price

#extracting the web elements which consists of price.
price_info = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    
Price_1 = [i.text for i in price_info]
Price += Price_1

#clicking next button
next_button = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

#### for second page

In [479]:
#extracting the web elements which consists of Brand name.
titles_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

Brand_name_1 = [i.text for i in titles_tag]
   
Brand_name += Brand_name_1
    
# b)extracting the Product description and discount

#extracting the web elements which consists of description and discount.
temp = driver.find_elements_by_xpath("//div[@class='_2B099V']")
for i in temp:
    i_1 = ((i.text).split("\n"))[1]
    product_desc.append(i_1)
    i_2 = (((i.text).split("%"))[0])[-2] + (((i.text).split("%"))[0])[-1] + '%' + ' off'
    Discount.append(i_2)

# c)extracting the Price

#extracting the web elements which consists of price.
price_info = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    
Price_1 = [i.text for i in price_info]
Price += Price_1


next_button = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_button.click()

#### for third page

In [480]:
#extracting the web elements which consists of Brand name.
titles_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

Brand_name_1 = [i.text for i in titles_tag]
   
Brand_name += Brand_name_1
    
# b)extracting the Product description and discount

#extracting the web elements which consists of description and discount.
temp = driver.find_elements_by_xpath("//div[@class='_2B099V']")
for i in temp:
    i_1 = ((i.text).split("\n"))[1]
    product_desc.append(i_1)
    i_2 = (((i.text).split("%"))[0])[-2] + (((i.text).split("%"))[0])[-1] + '%' + ' off'
    Discount.append(i_2)


# c)extracting the Price

#extracting the web elements which consists of price.
price_info = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    
Price_1 = [i.text for i in price_info]
Price += Price_1

In [481]:
print(len(Brand_name))
print(len(product_desc))
print(len(Price))
print(len(Discount))

120
120
120
120

### making of a dataframe

In [482]:
df = pd.DataFrame({"Brand":Brand_name[:100],"Product-Description":product_desc[:100],"Price":Price[:100],"Discount ":Discount[:100] })
df

,Brand,Product-Description,Price,Discount
0,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449,65% off
1,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹447,82% off
2,URBANBOX,Sneakers Sneakers For Men,₹220,77% off
3,Stefano Rads,Classy Sneakers For Men,₹242,65% off
4,Magnolia,Sneakers For Men,₹398,60% off
...,...,...,...,...
95,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,₹525,47% off
96,Bonexy,Sneakers For Men,₹474,52% off
97,SCATCHITE,Sneakers For Men,₹398,60% off
98,WELDONE,Fashion Sneakers For Men,₹299,40% off
99,aadi,Sneakers For Men,₹499,75% off

# --------------------------------------------------------------------------------------------------------------

## Q7: From the link - https://www.myntra.com/shoes Setting Price filter to “Rs. 7149 to Rs. 14099” , Color filter to “Black” and then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , 'Shoe description' and 'price' of the shoe.

In [483]:
#site url

url = 'https://www.myntra.com/shoes'
driver.get(url)

### Using filters by selecting a check boxes and using a absolute xpath to get web elements

In [486]:
#selecting colour as "Black"

black_color_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
black_color_check.click()

In [487]:
#selecting price-range of "Rs. 7189(7209) to Rs. 14099(14139)"

price_check = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_check.click()

## Extracting a data

In [499]:
Brand_name,shoe_desc,Price = [],[],[]

#since each consists of 50 items,so i will scrape 2 web pages data (to get a first 100 items)
        
#for first page
# a)extracting the Brand name

#extracting the web elements which consists of Brand name.
titles_tag = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
Brand_name_1 = [i.text for i in titles_tag]
   
Brand_name += Brand_name_1

# b)extracting the shoe description

#extracting the web elements which consists of description.
sh_desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')
sh_des = [i.text for i in sh_desc]

shoe_desc += sh_des

# c)extracting the price of shoe

#extracting the web elements which consists of price.
price_info = driver.find_elements_by_xpath('//div[@class="product-price"]')
Price_i = ["Rs" +((i.text).split("Rs"))[1] for i in price_info]

Price += Price_i

#Clicking next button

next_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_button.click()

#### for second page

In [500]:
#extracting the web elements which consists of Brand name.
titles_tag = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
Brand_name_1 = [i.text for i in titles_tag]
   
Brand_name += Brand_name_1

# b)extracting the shoe description

#extracting the web elements which consists of description.
sh_desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')
sh_des = [i.text for i in sh_desc]

shoe_desc += sh_des

# c)extracting the price of shoe

#extracting the web elements which consists of price.
price_info = driver.find_elements_by_xpath('//div[@class="product-price"]')
Price_i = ["Rs" +((i.text).split("Rs"))[1] for i in price_info]

Price += Price_i

In [501]:
print(len(Brand_name),len(shoe_desc),len(Price))

100 100 100

### making of a Dataframe

In [502]:
df = pd.DataFrame({"Brand name":Brand_name,"Shoe-Description":shoe_desc,"Price":Price})
df

     Brand name                   Shoe-Description      Price
0          Puma                  Men Running Shoes   Rs. 8449
1          Puma          Men Magnify Nitro Running   Rs. 8449
2       Saint G          Men Mid-Top Chelsea Boots   Rs. 9810
3   RARE RABBIT             Men Leather Flat Boots   Rs. 7999
4       Saint G         Women Leather Heeled Boots  Rs. 13410
..          ...                                ...        ...
95    J.FONTINI                  Men Solid Loafers   Rs. 8990
96        Ruosh     Men Solid Leather Formal Monks   Rs. 8990
97        MANGO       Textured High-Top Flat Boots   Rs. 7990
98      Bugatti         Leather Block Heeled Boots   Rs. 7999
99         Geox  Women Leather High-Top Flat Boots  Rs. 12599

[100 rows x 3 columns]

# ----------------------------------------------------------------------------------------------------------

## Q8: From the webpage https://www.amazon.in/  Searching for a "Laptop" and setting a filters for CPU Type to “Intel Core i7” and “Intel Core i9" have to scrape first 10 laptops data.
#### And have to scrape 3 attributes for each laptop: "Title","Ratings" and "Price"

In [792]:
#site url

url = 'https://www.amazon.in/'
driver.get(url)

In [793]:
#searching an web element for search bar using xpath
search_laptop = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

#now writing requied name on the search bar
search_laptop.send_keys("Laptop")

In [794]:
#now for search button,we can get a web element for that using an absolute xpath
search_button = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

### While Applying filters,we dont have a choice of selecting both core i7 and  core i9  at a same time,so will scrape data for each filter

In [795]:
#setting CPU type to "Intel Core i7"

i7_check = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[7]/ul[1]/li[10]/span/a/div/label/i')
i7_check.click()

### Scrapping of data for core i7

In [796]:

#extracting the web elements which consists of titles.
titles_tag1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
title = [i.text for i in titles_tag1][:10]
len(title)

10

In [797]:
#extracting the web elements which consists of price.
price_tag = driver.find_elements_by_xpath('//div[@class="a-row a-size-base a-color-base"]')
price = [((i.text).split("\n"))[0] for i in price_tag][:10]
len(price)

10

In [798]:
#extracting the web elements which consists of Ratings.
ratings7 = []
#extracting for each product

# for 1st product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[2]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [802]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][0]

ratings7.append(l)

In [803]:
move_over = driver.find_element_by_xpath("/html/body/div[1]/div[2]/span/div/span/h1/div/div[1]/div/div")
move_over.click()

In [804]:
#since there is no record on ratings for 2nd model, so will fill with "NA"
ratings9.append("NA")

In [805]:
# for 3rd product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[4]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [808]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][1]
ratings7.append(l)

In [810]:
move_over = driver.find_element_by_xpath("/html/body/div[1]/div[2]/span/div/span/h1/div/div[1]/div/div")
move_over.click()

['4.6 out of 5', '4.7 out of 5']

In [811]:
# for 4th product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[5]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [815]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][2]

ratings7.append(l)

In [816]:
move_over.click()

In [817]:
# for 5th product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[6]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [821]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][3]

ratings7.append(l)

In [822]:
move_over.click()

In [823]:
# for 6th product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[7]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [826]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][4]

ratings7.append(l)

In [827]:
move_over.click()

In [828]:
# for 7th product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[2]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [832]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][0]

ratings7.append(l)

In [833]:
move_over.click()

In [834]:
# for 8th product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[9]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [837]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][-1]

ratings7.append(l)

In [838]:
move_over.click()

In [839]:
# for 9th product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[10]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [842]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][-1]

ratings7.append(l)

In [843]:
move_over.click()

In [844]:
# for 10th product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[2]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [847]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][0]

ratings7.append(l)

In [860]:
ratings7.insert(1,"NA")

In [862]:
print(len(title),len(ratings7),len(price))

10 10 10

### making a dataframe for intel core i7

In [863]:
df_i7 = pd.DataFrame({"Title":title,"Rating":ratings7,"Price":price})
df_i7

                                               Title        Rating      Price
0  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...  4.6 out of 5    ₹89,990
1  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...            NA    ₹59,990
2  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  4.7 out of 5  ₹1,14,990
3  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  4.3 out of 5    ₹99,990
4  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    4 out of 5    ₹82,990
5  LG Gram 17-inches Ultra-Light Intel Evo 11th G...  4.6 out of 5    ₹99,990
6  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...  4.6 out of 5    ₹86,990
7  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5    ₹57,790
8  Lenovo Legion 5 11th Gen Intel Core i7 15.6"(3...  4.3 out of 5  ₹1,00,490
9  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  4.6 out of 5    ₹95,990

### Scrapping of data for core i9

In [673]:
#to clear filter
clear_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[7]/ul[1]/li[1]/span/a/span[2]")
clear_filter.click()

In [674]:
#setting CPU type to "Intel Core i9"

i7_check = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[7]/ul[1]/li[11]/span/a/div/label/i')
i7_check.click()

In [675]:
#extracting the web elements which consists of titles.
titles_tag2 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
title_9 = [i.text for i in titles_tag2][:10]
len(title_9)

10

In [683]:
#extracting the web elements which consists of price.
price_tag2 = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price_9 = [(i.text) for i in price_tag2][:9]

#since there is no price tag for 9th item,so will repalce with "NA"
price_9.insert(8,"NA")

#### #extracting the web elements which consists of Ratings for each item

In [772]:
ratings9 = []
# for 1st product
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[2]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [773]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][1]
ratings9.append(l)

In [774]:
#for 2nd item
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [775]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][0]
ratings9.append(l)

In [776]:
#for 3rd item
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[4]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [782]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][2]
# ratings9.append(l)
del ratings9[-1]
ratings9

['4.1 out of 5', '4 out of 5', '4.4 out of 5']

In [783]:
#since there is no record on ratings for 4th and 5th model, so will fill with "NA"
ratings9.append("NA")
ratings9.append("NA")

In [784]:
#for 6th item
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[7]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [785]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][3]
ratings9.append(l)

In [786]:
#since there is no record on ratings for 7th model, so will fill with "NA"
ratings9.append("NA")

In [787]:
#for 8th item
ratings2_tem = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[9]/div/span/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[2]')
ratings2_tem.click()

In [788]:
ratings2_tem1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
l = [i.text for i in ratings2_tem1][4]

ratings9.append(l)

In [789]:
#since there is no record on ratings for 9th and 10th model, so will fill with "NA"
ratings9.append("NA")
ratings9.append("NA")

In [790]:
print(len(ratings9),len(price_9),len(title_9))

10 10 10

### making a dataframe for intel core i9

In [791]:
df_i9 = pd.DataFrame({"Title":title_9,"Rating":ratings9,"Price":price_9})
df_i9

                                               Title        Rating     Price
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  4.1 out of 5  1,44,990
1  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...    4 out of 5  1,41,990
2  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  4.4 out of 5  2,65,999
3  Dell XPS 17 (2021) i9-11900H Touch Screen Lapt...            NA  3,25,500
4  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...            NA  2,45,000
5  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...    5 out of 5  1,39,990
6  Dell Precision 5550 || i9 -10885H || 16GB || 1...            NA  2,00,000
7  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...  4.1 out of 5  2,05,990
8  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...            NA        NA
9  Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...            NA  2,39,000

# --------------------------------------------------------------------------------------------------------

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company from  https://www.ambitionbox.com/

In [566]:
#site url
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [567]:
#now for jobs button,we can get a web element for that using an absolute xpath
jobs_button = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
jobs_button.click()

In [568]:
#Entering as a "Data Scientist" is search bar

jobs_search = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
jobs_search.send_keys("Data Scientist")

#searching jobs for this role

search_button = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button")
search_button.click()

In [569]:
#selectin a location option 

click_loc =  driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
click_loc.click()

In [570]:
#entering as a Noida in location search bar

enter_loc =  driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
enter_loc.send_keys("Noida")

In [571]:
selec_loc =  driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
selec_loc.click()

### Scrapping of Data

In [591]:
#extracting the first 10 jobs data

#extracting the company name using absolute xpath
comp_name = driver.find_elements_by_xpath('//div[@class="company-info"]')
company_n = [((i.text).split("\n"))[0] for i in comp_name]
del company_n[0]

#extracting the rating using absolute xpath

rating_s = driver.find_elements_by_xpath('//div[@class="rating-wrapper"]')
rating = [((i.text).split("\n"))[0] for i in rating_s]
del rating[0:4]

#extracting the job_posted time using absolute xpath

time_ago = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
Job_posted_ago = [(i.text) for i in time_ago]
Job_posted_ago_n = [Job_posted_ago[i] for i in range(0,len(Job_posted_ago),2)]

In [592]:
print(len(company_n),len(rating),len(Job_posted_ago_n))

10 10 10

### Creating a dataframe

In [593]:
df = pd.DataFrame({"Comapany name":company_n,"Rating":rating,"Posted ago":Job_posted_ago_n})
df

                                Comapany name Rating Posted ago
0  Nokia Solutions and Networks India (P)Ltd.    4.3     8d ago
1              LG Electronics India Pvt. Ltd.    4.1    29d ago
2                                       Paytm    3.7     2d ago
3                  Jubilant Foodworks Limited    3.9    19d ago
4                                CHT Sapiense    3.7     3d ago
5                                CHT Sapiense    3.7     4d ago
6                                    GI Group    4.1    15d ago
7                                    GI Group    4.1    15d ago
8                                    GI Group    4.1    15d ago
9                                       Paytm    3.7    23d ago

# -----------------------------------------------------------------------------------------------------------

## Q10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary for first 10 companies from  https://www.ambitionbox.com/

In [594]:
#site url
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [595]:
#now for salaries option button,we can get a web element for that using an absolute xpath
jobs_button = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
jobs_button.click()

In [599]:
#Entering as a "Data Scientist" is search bar

jobs_search = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
jobs_search.send_keys("Data Scientist")

In [600]:
search_button = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
search_button.click()

### Scrapping of data

In [609]:
#extracting the first 10 jobs data

#extracting the company name and no.of salaries using absolute xpath
comp_info = driver.find_elements_by_xpath('//div[@class="name"]')
company_n = [((i.text).split("\n"))[0] for i in comp_info]
no_of_salaries = [((i.text).split("\n"))[1] for i in comp_info]

#extracting the experience required using absolute xpath
exp_req = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
experience_req = [((i.text).split("\n"))[-1] for i in exp_req]

#extracting the minimum,maximum and average salary using absolute xpath
min_max_avg_sal = driver.find_elements_by_xpath('//div[@class="salary-range-wrapper"]')
minimum_sal = [((i.text).split("\n"))[1] for i in min_max_avg_sal]
max_sal = [((i.text).split("\n"))[-1] for i in min_max_avg_sal]
Avg_sal = [((i.text).split("\n"))[0] for i in min_max_avg_sal]

### making a Dataframe

In [611]:
df = pd.DataFrame({"Comapany name":company_n,"no. of salaries":no_of_salaries,"Experience required":experience_req,
                   "minimum salary":minimum_sal,"Average salary":Avg_sal,"maximum salary":max_sal})
df

,Comapany name,no. of salaries,Experience required,minimum salary,Average salary,maximum salary
0,Walmart,based on 10 salaries,3 yrs exp,₹ 17.7L,₹ 28.7L,₹ 35.0L
1,Ab Inbev,based on 22 salaries,3-4 yrs exp,₹ 15.0L,₹ 19.5L,₹ 25.0L
2,ZS,based on 14 salaries,2 yrs exp,₹ 9.8L,₹ 15.8L,₹ 20.0L
3,Fractal Analytics,based on 72 salaries,2-4 yrs exp,₹ 9.5L,₹ 15.0L,₹ 22.0L
4,Optum,based on 23 salaries,3-4 yrs exp,₹ 11.0L,₹ 15.0L,₹ 21.3L
5,UnitedHealth,based on 49 salaries,2-4 yrs exp,₹ 7.2L,₹ 13.5L,₹ 20.5L
6,Tiger Analytics,based on 27 salaries,3-4 yrs exp,₹ 8.3L,₹ 13.5L,₹ 18.5L
7,Verizon,based on 14 salaries,4 yrs exp,₹ 10.0L,₹ 12.7L,₹ 21.0L
8,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 8.5L,₹ 12.4L,₹ 15.0L
9,Ericsson,based on 42 salaries,3-4 yrs exp,₹ 5.8L,₹ 11.9L,₹ 21.5L

#                           ----------------------------END----------------------